#Masthead{
	position: fixed;
	width: 100%;
	margin: 0 0 30px;
	overflow: auto;
	color: green;
	background: aqua;
	border-bottom: 2px solid black;
}
.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}
nav{
	float: right;
	margin: 25px;
}
nav a{
	display: inline-block;
	padding-left: 15px;
	margin-left:15px;
	line-height: 10px;
	color: green;
	text-decoration: none;
	border-left:1px solid red;
}
nav a:first-child{
	border=left: none;
}
#main-container:{
	padding: top 130px;
}
.main-section:{
	float: left;
	width:100px;
	max-width:650px;
	padding:30px;
	margin:0 0 40px;
	background: green;
}
.auth image:{
	float: left;
	width:200px;
	height:auto;
	margin-top:10px;
	margin-left: 25px;
}